services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: allsaram.kr.ncr.ntruss.com/olsaram-backend:latest
    container_name: olsaram-backend
    ports:
      - "8080:8080"
    env_file:
      - backend/.env
    environment:
      - DB_URL
      - DB_USERNAME
      - DB_PASSWORD
      - SERVER_PORT=8080
      - FRONTEND_ASSET_URL
    volumes:
      - backend-logs:/app/logs

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: allsaram.kr.ncr.ntruss.com/olsaram-frontend:latest
    container_name: olsaram-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    environment:
      - BACKEND_HOST=backend
      - BACKEND_PORT=8080

volumes:
  backend-logs:
